@charset "utf-8";
/* CSS Document */

.clear
{
	clear:both;
}
*
{
	padding:0;
	margin: 0;
}
body
{
	font-family:Arial, Helvetica, sans-serif;
}
.container
{
	width: 1140px;
	margin:0 auto;
}
.container-fluid
{
	width:100%;
}
.logo, .slogan
{
	width: 540px;
	margin: 0 15px;
	float:left;
}
.slogan
{
	text-align:right;
}
.bg_nav
{
	width:100%;
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
nav
{
	width: 1110px;
	margin:0 auto;
}
.bg_nav ul
{
	list-style:none;
}
.bg_nav ul li
{
	float:left;
}
.bg_nav ul li a
{
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#646464;
	line-height:50px;
	padding: 0 15px;
}
.bg_nav ul li a:hover
{
	border-bottom:3px solid #bb141a;
}
.slider
{
	width: 1110px;
	margin:30px;
}
.tieu_de, .gioi_thieu
{
	width:1110px;
	margin:50px 15px;;
	text-align:center;
}
.tieu_de h1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#333333;
	text-transform:uppercase;
}
.gioi_thieu p
{
	font-size:16px;
	line-height:28px;
	color:	#646464;
}
.chuong_trinh
{
	width: 255px;
	margin: 15px;
	float:left;
}
.chuong_trinh h4
{
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#bb141a;
	line-height:30px;
}
.chuong_trinh h5
{
	font-size:12px;
	font-weight:bold;
	color:#646464;
}
.bg_thanh_tuu
{
	width: 100%;
	background-image:url(../images/layout.png);
	margin: 15px 0;
	float:left;
}
.bg_thanh_tuu h1
{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	line-height:50px;
}
.bg_thanh_tuu .item
{
	width: 350px;
	margin:50px 15px;
	border:5px solid #fff;
	box-sizing:border-box;
	float:left;
	text-align:center;
	padding: 20px 0;
}
.item h2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	line-height:36px;
	color:#fff;
	height: 72px;
}
.left, .right
{
	width: 570px;
	text-align:center;
	float:left;
}
.tin_tuc_1
{
	width: 540px;
	margin:10px 15px;
	border-bottom:3px solid #aa1413;
	padding-bottom: 2px;
	position:relative;
}
.text_1
{
	position:absolute;
	bottom: 2px;
	width: 540px;
	height: 50px;
	background:rgba(0,0,0,0.5);
}
.text_1 p
{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	line-height:50px;
}
.tin_tuc_2
{
	width: 255px;
	margin: 9px 15px;
	float:left;
	border-bottom:3px solid #aa1413;
	padding-bottom: 2px;
	position:relative;
}
.text_2
{
	position:absolute;
	bottom: 2px;
	width: 255px;
	height: 40px;
	background:rgba(0,0,0,0.5);
}
.text_2 p
{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	line-height:20px;
	padding-left:3px;
}
.bg_hoc_vien
{
	width: 100%;
	background-image:url(../images/bg_hv.png);
	padding: 20px 0;
	float:left;
	background-size:cover;
}
.hinh_hv
{
	width: 255px;
	margin: 15px;
	text-align:center;
	float:left;
}
.hinh_hv img
{
	border: 3px solid #aa1413;
	border-radius: 50%;
}
.feedback
{
	width: 825px;
	margin: 15px;
	float:left;
	background:rgba(255,255,255,0.5);
	border-radius: 25px;
	padding: 25px 15px;
	box-sizing:border-box;
}
.feedback p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color:#333333;
}
.feedback h5
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #aa1413;
	font-weight:bold;
	padding-bottom:20px;
	padding-top: 10px;
	float:right;
}
footer
{
	width: 100%;
	margin: 15px auto;
	background-color:#aa1413;
	float:left;
}
.infor, .form_dk
{
	width: 540px;
	margin: 50px 15px;
	float:left;
}
.infor i
{
	color: #fff;
	font-size:30px;
	padding: 15px 15px;
	float:left;
}
footer h1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight:bold;
	line-height: 48px;
	color:#fff;
	border-bottom: 3px solid #fff;
	padding-bottom: 10px;
}
footer h6
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
	color:#fff;
	line-height:20px;
	padding: 15px 0;
}
form
{
	padding: 30px 0;
	text-align:center;
}
.form_dk input[type=text], input[type=tel], .form_dk textarea
{
	width: 100%;
	height: 50px;
	margin: 10px 0;
	background-color: #fff;
	border:none;
	border-radius:10px;
	padding-left: 5px;
	background-color:rgba(255,255,255,0.5);
}
.form_dk textarea
{
	height: 150px;
}
::placeholder
{
	color:#fff;
	opacity: 1;
	font-size: 24px;
	line-height: 48px;
	font-style:italic;
	padding-left: 10px;
}
button
{
	width: 140px;
	height: 45px;
	background-color: #fff;
	border:none;
	border-radius: 15px;
	font-size: 18px;
	font-weight:bold;
	line-height: 48px;
	color: #aa1413;
	margin: 15px;
}

